 {{#each data}}
 <section>
   <div class="row">
      <div class="col">
         <div class="post-preview">
            <a href="https://www.topgear.com{{this.HeadlineURL}}" target="_blank" >
               <img alt="IMAGE NULL" srcset="{{this.ImageURL}}">
                  <h2 class="post-title">
                     {{this.Headline}}
                  </h2>
                  <h3 class="post-subtitle">
                     {{this.Description}}
                  </h3>
               </img>
            </a>
            <p class="post-meta">
               Post by {{this.Author}} on {{this.PostDate}}, via https://www.topgear.com/car-news
            </p>
         </div>
         <hr>
      </div>
   </div>
</section>
 {{/each}}